.what-we-offer {
    background: #F4F3F1;
}
.offer-img img {
    width: 100%;
    height: auto;
}
.service-icon-row {
    padding: 0 80px;
}
.service-icon-box-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}
.service-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.service-icon img {
    width: 50px;
    height: 50px;
}
.service-icon {
    padding: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.servicon-icon-text {
    text-align: center;
    padding-top: 10px;
}