.main-header {
    height: 100vh;
    background: url('https://i.ibb.co/J39pKKc/2260610-ai-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0;
    z-index: -50;
}
